[user]
    name = lakkiy
    email = liubolovelife@gmail.com

[init]
    defaultBranch = master

[pull]
    rebase = true

[push]
    default = current

[diff]
    colorMoved = default

[merge]
    conflictStyle = diff3

[github]
    user = lakkiy

[core]
    attributesFile = ~/.gitattributes
    excludesFile = ~/.gitignore_global

[credential]
    # macOS: osxkeychain  |  Linux: store
    helper = osxkeychain

[include]
    # Machine-local overrides (not tracked)
    path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
